@font-face {
    font-family: "ChelaOne";
    src: url("fonts/ChelaOne.ttf");
 }
@font-face {
   font-family: "Anonymous";
   src: url("fonts/AnonymousPro-Regular.ttf");
}
@font-face {
   font-family: "Anonymous-Bold";
   src: url("fonts/AnonymousPro-Bold.ttf");
}
html, body{
   margin: 0; padding: 0;
   width: 100%;
   height: 100%;
   background: rgb(248, 248, 248);
   font-size: 12pt;
}
body{
   display: grid;
   grid-template-rows: 10vw auto 30vw;
   grid-template-areas:
   "nav"
   "main"
   "footer";
}
#nav{
   grid-area: nav;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#logo{
   margin-left: -10px;
   max-width: 10%;
}
#logo:hover{
   cursor: help;
}
#opcoes{
   margin: 0; padding: 0;
   display: flex;
}
#opcoes div{
   font-family: ChelaOne;
   font-size: 1.9rem;
   color: #F7B111;
   -webkit-text-stroke-width: 0.05rem;
   -webkit-text-stroke-color: #000000d7;
   font-weight: 100;
   text-shadow: 0.03rem 0.1rem 0.06rem rgba(0, 0, 0, 0.3);
}
#opcoes div:hover{
   cursor: pointer;
}
#opcoes div:nth-child(1), #opcoes div:nth-child(2), #opcoes div:nth-child(3){
   margin-right: 1rem;
}
#navRedes{
   display: flex;
}
#navRedes img{
   max-width: 4vw; 
}
#navRedes img:hover{
   cursor: pointer;
   background-color: rgb(250, 200, 85);
}
#navRedes :nth-child(1), #navRedes :nth-child(2){
   margin-right: .9rem;
}
/* ////////////////////////////////////////// */
#main{
   grid-area: main;
   justify-self: center;
   /* background: rgb(209, 97, 97); */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 85vw;
}
#resenhaECoisaSeria{
   font-family: ChelaOne;
   font-size: 2.8rem;
   font-weight: 400;
   text-decoration: underline;
   cursor: pointer;
   margin-top: 2.5rem;
   margin-bottom: .5rem;
}
#subTitulo{
   font-family: Anonymous;
   font-size: 1.6rem;
   font-weight: 400;
   text-align: center;
   margin-bottom: 2rem;
}
#galeria{
   /* quadrado: 384x365 // retangulo: 325x734 */
   display: grid;
   gap: .5rem;
   grid-template-areas: 
   "img1 img2 img3"
   "img4 img2 img5";
}
#tvMatadouro, #quimica, #fogueteMatadouro, #porcoTusca, #baseado{
   max-width: 100%;
   height: 100%;
}
#galeria .fotoGaleria{
   max-width: inherit;
   height: inherit;
   object-fit: cover;
   /* transition: transform 400ms ease-out; */
}
#galeria div{
   position:relative;
   transition: transform 400ms ease-out;
}
#galeria .legendaGaleria{
   display: flex;
   justify-content: center;
   align-items: center;
   position:absolute;
   top: 0;
   width: 100%; height: 100%;
   font-size: 1.2rem;
   box-sizing:border-box;
   background-color: rgb(247, 177, 17,.85);
   font-family: Anonymous;
   opacity: 0;
	transition:opacity 400ms;
}
#galeria div:hover .legendaGaleria{
   cursor: pointer;
   opacity:1;
}
#galeria .legendaGaleria img{
   width: 20%;
   height: 20%;
}
#galeria .imgVertical{
   width: 20%;
   height: 10% !important;
}
#galeria #tvMatadouro{
   grid-area: img1;
}
#galeria #quimica{
   grid-area: img2;
}
#galeria #fogueteMatadouro{
   grid-area: img3;
}
#galeria #porcoTusca{
   grid-area: img4;
}
#galeria #baseado{
   grid-area: img5;
}
/* ////////////////////////////////////////// */
#who{
   margin-top: 4.5rem;
   width: 90%;
}
#tituloWho{
   font-family: ChelaOne;
   font-size: 4.5rem;
   color: #F7B111;
   margin-bottom: .8rem;
   -webkit-text-stroke-width: 1.7px;
   -webkit-text-stroke-color: #000000d7;
   font-weight: 100;
}
.topicoWho{
   display: flex;
   background-color: aqua;
   margin-bottom: 1.3rem;
}
.topicoWho:nth-child(2), .topicoWho:nth-child(3){
   display: flex;
   align-items: center;
}
.topicoWho .pWho{
   font-family: Anonymous;
   font-size: 1.3rem;
   font-weight: 400;
   text-align: justify;
   display: flex;
}
#firstPWho{
   display: flex;
   flex-direction: column;
   justify-content: start;
   margin-left: 3rem;
   margin-right: 1rem;
}
.topicoWho:nth-child(3) .pWho{
   margin-left: 3rem;
   margin-right: 1rem;
}
.topicoWho:nth-child(2) .pWho{
   margin-left: 1rem;
   margin-right: 3rem;
}
.topicoWho:nth-child(1) img{
   width: 33%;
}
.topicoWho:nth-child(2) img{
   width: 40%;
}
.topicoWho:nth-child(3) img{
   width: 40%;
}
/* ////////////////////////////////////////// */
#footer{
   grid-area: footer;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-areas: "letsTalk contato";
}
#letsTalk{
   grid-area: letsTalk;
   background: #797979;
}
#contato{
   grid-area: contato;
   background: #E4E4E4;
}
