@media (max-width: 400px) {
    body{
        grid-template-rows: 13vw auto 30vw;
    }
    #logo{
        max-width: 20%;
     }
    #opcoes div{
        font-size: 3.3vw;
    }
    #opcoes div:nth-child(1), #opcoes div:nth-child(2), #opcoes div:nth-child(3){
       margin-right: .5em;
    }
    #navRedes img{
        max-width: 4.5vw; 
     }
    #navRedes :nth-child(1), #navRedes :nth-child(2){
        margin-right: .5em;
    }
    #resenhaECoisaSeria{
        font-size: 2rem;
        margin-top: 1.8rem;
        margin-bottom: 1rem;
    }
    #subTitulo{
        font-size: .7rem;
    }
}